body, html{
    background-image: url(../images/girl.jpg);
	background-attachment: fixed;
	background-size: cover;
    height: 100%;
    font-style: oblique;
    color: #fff;
    overflow: hidden;
    font-weight: bold;
}

/*Body wrapper for all elements*/
.content_body{
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    padding: 20px;
    width: 400px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
/*Provides the upper margin for all files*/
header{
    color:rgb(0, 0, 0);
    text-align: center;
    /*Used em to be dynamic with view*/
    font-size: 1.5em;
    margin-top: 40px;
    color: #fff;
}
/*Put it on paper*/
.i_say{
    font-size: 0.8em;
    color: rgb(44, 44, 44);
    font-style: italic;
    text-align: center;
}

/*Markers for all inputs*/
label{
    font-size: 18px;
    float: left;
    color: #fff;
}

/*Design for input types*/
input[type=text],input[type=password], input[type=email], select {
    width: 100%;
    margin-top: 5px;
    padding: 10px 5px;
    display: inline-block;
    font-size: 0.9em;
    font-style: oblique;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

/*Design for input type submit button*/
input[type=submit] {
    width: 18em;
    background-color: rgb(187, 112, 0);
    color: white;
    font-weight: bold;
    padding: 10px 20px;
    font-size: 0.9em;
    font-style: oblique;
    margin-top: 8px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
}
/*Colour styling fir the href links*/
a{
    color: rgb(187, 112, 0);
}

/*Styling for the bottom mystical quotes*/
.quotes{
    text-align: center;
    font-size: 1.2em;
    margin-top: 70px;
}

footer{
    font-size: 0.8em;
    text-align: center;
    clear: both;
}
/*Creates a circular image*/
.circular_image {
    border-radius: 50%;
    float: center;
    margin-top: 30px;
    margin-bottom: 20px;
}

/*Part of the body pushed to the left*/
.navigation_panel{
    width: 200px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    float: left;
    padding: 5px;
}

/*Contains the bodies elements*/
.home_contents{
    width: 1200px;
    margin-top: 40px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

/*Buttons design*/
.rounded_btn {
    border-radius: 10px;
    width: 100px;
    background-color: rgba(204, 204, 204, 0.014);
    border: 1px solid rgb(255, 255, 255, o.5);
    padding: 5px; 
    font-weight: bold;
    color: #ccc;
    font-style: oblique;
    font-size: 16px;
    margin-bottom: 10px;
}
/*Buttons when hovered on*/
.rounded_btn:hover {
    border-radius: 10px;
    width: 100px;
    background-color: rgba(204, 204, 204, 0.014);
    border: 2px solid rgb(255, 208, 0);
    padding: 5px; 
    font-weight: bold;
    color: #ccc;
    font-style: oblique;
    font-size: 16px;
    margin-bottom: 10px;
}
/*Horizontal line separator*/
hr{
    width: 150;
}
/*Logout Button before hover...Clear with silver border*/
.logout_btn {
    border-radius: 10px;
    width: 100px;
    background-color: rgba(204, 204, 204, 0.014);
    border: 1px solid rgb(255, 255, 255, o.5);
    padding: 5px; 
    font-weight: bold;
    color: #ccc;
    font-style: oblique;
    font-size: 16px;
    margin-bottom: 10px;
}
/*Red on hover*/
.logout_btn:hover {
    border-radius: 10px;
    width: 100px;
    background-color: rgba(204, 204, 204, 0.014);
    border: 2px solid rgb(253, 4, 4, 0.966);
    padding: 5px; 
    font-weight: bold;
    color: #fff;
    font-style: oblique;
    font-size: 16px;
    margin-bottom: 10px;
}
/*Container holding all entries*/
.stories{
    width: 970px;
    height: 600px;
    border-radius: 10px;
    float: right;
    overflow-y: auto;
}
/*Each entry design*/
.articles{
    width: 950px;
    padding: 5px 10px 5px 10px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    float: left;
    margin-bottom: 10px;
    text-align: left;
}

/*Push article dates to the far right*/
.date{
    text-align: right;
}

/*Actions buttons for each article*/
.actions{
    width: 215px;
    padding: 5px;
    border-radius: 10px;
    float: right;
    margin-bottom: 10px;
    text-align: left;
}
/*Styling for the text area*/
textarea {
    width: 100%;
    height: 380px;
    padding: 12px 20px;
    margin: 8px 0;
    font-size: 0.9em;
    font-weight: bold;
    font-style: oblique;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
